.itemBlock {
  background: cornsilk;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  width: 500px;
  border: 1px solid black;
  border-radius: 4px;
}

.itemTitle {
  padding-top: 7px;
  margin-bottom: 0px;
}

.itemPrice {
  margin-top: 5px;
}
.itemBox{
  margin-left: 20px;
}